*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg, rgba(139,113,14,1) 0%, rgba(186,41,34,1) 50%, rgba(66,68,190,1) 100%);
}
.container{
    width: 600px;
    height: 450px;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: auto;
    display: flex;
    position: relative;
    text-align: center;
}
.container .div1{
    width: 100px;
    height: 80px;
    position: absolute;
    top: 100px;
    left: 100px;
    
}
.container .div1 img{
    width: 100%;
    height: 80px;
}
.container .div2{
    width: 60px;
    height: 70px;
    position: absolute;
    top: 70px;
    left: 210px;
}
.container .div2 img{
    width: 100%;
    height: 70px;
}
.container .div3{
    width: 85px;
    height: 70px;
    position: absolute;
    top: 80px;
    left: 280px;
}
.container .div3 img{
    width: 100%;
    height: 70px;
}
.container .div4{
    width: 80px;
    height: 100px;
    position: absolute;
    top: 140px;
    left: 375px;
}
.container .div4 img{
    width: 100%;
    height:100px;
}
.container .div5{
    width: 70px;
    height: 80px;
    position: absolute;
    top: 110px;
    left: 465px;
}
.container .div5 img{
    width: 100%;
    height:80px;
}
.container .div6{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 200px;
    left: 490px;
}
.container .div6 img{
    width: 100%;
    height:60px;
}
.container .div7{
    width: 100px;
    height: 70px;
    position: absolute;
    top: 250px;
    left: 380px;
}
.container .div7 img{
    width: 100%;
    height:70px;
}
.container .div8{
    width: 150px;
    height: 75px;
    position: absolute;
    top: 190px;
    left: 40px;
}
.container .div8 img{
    width: 100%;
    height: 75px;
}
.container .div9{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 160px;
    left: 210px;
}
.container .div9 img{
    width: 100%;
    height: 100px;
}
.container .div10{
    width: 100px;
    height: 80px;
    position: absolute;
    top: 275px;
    left: 170px;
}
.container .div10 img{
    width: 100%;
    height: 80px;
}
.container .div11{
    width: 90px;
    height: 60px;
    position: absolute;
    top: 280px;
    left: 280px;
}
.container .div11 img{
    width: 100%;
    height: 60px;
}
.container .saddam{
    border: 3px solid rgb(177, 29, 29);
    border-radius: 5px;
}